// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    scroll-behavior: smooth;

    --color: #263238;
    --background-color: #fff;
}

body {
    margin: 0 !important;
    padding: 0 !important;

    color: var(--color);
    background-color: var(--background-color);

    font-family: 'Montserrat', sans-serif;
    // font-size: 24px;
}

// @media (max-width: 767px) {
//     body {
//         font-size: 18px;
//     }
// }

header, section, footer {
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}